@use '@/shared/styles/mixins';

.layoutContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;

  width: 75%;
  margin: auto;

  @include mixins.breakpoint(xxl, max) {
    width: 85%;
  }

  @include mixins.breakpoint(md, max) {
    width: 100%;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@include mixins.breakpoint(xl, max) {
  .sidebar {
    display: none;
  }
}

.columnBlockTop,
.columnBLockBottom {
  width: 280px;
  height: 280px;
  background-color: #aaa;
}


