@use "@/shared/styles/mixins";

.layoutContainer {
  display: flex;
  flex-direction: row;

  width: 85%;
  margin: auto;

  @include mixins.breakpoint(xxl, max) {
    width: 100%;
  }
  @include mixins.breakpoint(xl, max) {
    gap: 0;
  }

  @include mixins.breakpoint(md, max) {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.sidebar {
  @include mixins.breakpoint(xxl, max) {
    display: none;
  }
}


.columnBlockTop,
.columnBLockBottom {
  width: 286px;
  height: 286px;
  background-color: #aaa;
}


